<!DOCTYPE html>

<html>
  <head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../static/css/bang.css">
     <script type="text/javascript" src="../static/js/bang.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

  </head>

  <body>
    <p>방명록</p>
    <div>
      <p>닉네임: <input id="name" type="text"></p>
    </div>

    <div>
      <p>코멘트: <input id="comment" type="text"></p>
    </div>

    <br />
    <button type="button" onclick="popup_save()" style="margin-bottom: 20px">
      작성
    </button>

    <table border="1" cellspacing="1" cellpadding="20">
      <thead id="show_box">
        <tr>
          <td >작성자</td>
          <td >내용</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>