<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>코드바람 시네마</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/page2.css">
    <script type="text/javascript" src="../static/js/page2.js"></script>


</head>

<body>
    <!-- 메인화면 -->
    <div class="title">
        <h1>코드바람 시네마</h1>
        <button onclick="location.href='/'" class="home">HOME</button>
        <button class="rec_movie_btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">영화
            추천하기</button>
    </div>

    <!-- 상영관(1관, 2관 ...N관) -->
    <div class="wrap">
        <div id="screens" class="row row-cols-1 row-cols-md-5 g-4 card-front">
        </div>
    </div>

    <!--영화 추천 등록창!-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rec_popup_body">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">영화를 추천해주세요!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">URL을 입력해주세요</label>
                            <input type="text" class="form-control" id="recipient-name"
                                placeholder="네이버 영화 페이지의 URL을 넣어주세요">
                        </div>
                        <div class="col-md">별점
                            <div class="form-floating mb-2 stargrid">
                                <select id="star" class="form-select" aria-label="별점 선택">
                                    <option value="" selected>-- 선택하기 --</option>
                                    <option value="1">⭐</option>
                                    <option value="2">⭐⭐</option>
                                    <option value="3">⭐⭐⭐</option>
                                    <option value="4">⭐⭐⭐⭐</option>
                                    <option value="5">⭐⭐⭐⭐⭐</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">코멘트</label>
                            <textarea class="form-control" id="message-text" placeholder="추천 이유를 넣어주세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button onclick="rec_movie_post()" type="button" class="btn btn-primary">추천하기</button>
                </div>
            </div>
        </div>
    </div>

    <!--여기는 상영관 클릭시 나오는 추천 영화 리스트 팝업-->
    <div class="popmovie-wrap" id="popmovie">
        <div class="popmovie">
            <div class="popmovie-body">
                <button class="close_popup_btn"></button>
                <iframe src="#" id="popmovie_iframe" class="iframe"></iframe>
            </div>
        </div>
    </div>
</body>

</html>