<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/bang.css">
</head>

<script>
  $(document).ready(function () {
    show_popup_comment()
  });
  function show_popup_comment() {
    $.ajax({
      type: "GET",
      url: "/show_popup_comment",
      data: {},
      success: function (response) {
        let rows = response['show_popup']
        for (let i = 0; i < rows.length; i++) {
          let name = rows[i]['name']
          let comment = rows[i]['comment']
          let temp_html = `<tr>
                            <td>${name}</td>
                            <td>${comment}</td>
                           </tr>`
          $('#show_box').append(temp_html)
        }
      }
    })
  }
  function popup_save() {
    let name = $('#name').val()
    let comment = $('#comment').val()
    $.ajax({
      type: "POST",
      url: "/popup_comment",
      data: { name_give: name, comment_give: comment },
      success: function (response) {
        alert(response['msg'])
        window.location.reload()
      }
    })
  }

</script>

<body>
  <p>방명록</p>
  <hr>
  <div>
    <p>닉네임: <input id="name" type="text"></p>
  </div>

  <div>
    <p>코멘트: <input id="comment" type="text"></p>
  </div>
  <hr>
  <br />
  <button type="button" onclick="popup_save()" style="margin-bottom: 20px">
    작성
  </button>
  <table border="1" cellspacing="1" cellpadding="20">
    <thead id="show_box">
      <tr>
        <td>작성자</td>
        <td>내용</td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</body>

</html>